*{
    margin: 0;
    padding: 0;
}

nav{
    height: 70px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: blanchedalmond;
}

.left{
    display: flex;
    min-width: 80%;
    margin: auto;
}

.right{
    min-width: 20%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.user-login-signup{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-login-signup button{
    padding: 5px 5px;
    margin: 5px 0px;
}

.user-login{
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}